<?xml version="1.0" encoding="UTF-8"?>
<suite name="KUPortal_Navigation">
<parameter name="Environment" value="TEST"/>
   <test name="KUPortal_TopNavigation">
    <classes>
      <class name="KuPortal.EnvironmentVariables" />
      <class name="KuPortal.Test_LandingPage" />
      <class name="KuPortal.Test_HomePage" />
    </classes>
    </test>
</suite>
